html,
body
{
	position: absolute;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#header {
	text-align: center;
}

#pokemon-select {
	width: 100%;
}

#pokemon-results {
	display: flex;
	flex-wrap: wrap;
}

.result-entry {
	border: 1px solid;
	padding: 10px;
	margin: 2px;
}

.result-entry-text {
	padding: 4px;
	background-color: rgba(0, 0, 0, 0.66);
	color: #ffffff;
}